<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorize this app</title>
</head>

<body>
    <center>
        <a href=<%=link %>>
            Authorize the app to access your Google Calendar.
        </a>
    </center>
</body>

</html>