<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Events</title>
</head>
<body>
    <h1 style="text-align: center;">List of events in the user's calendar</h1>
    <ul>
        <% events.forEach(event => { %>
            <li>
                <h4><%= event.summary %></h2>
                <p><%= event.start.dateTime %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>